  .product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-faded{
      background-color: grey;
    }
  }
  
  .ProductsInfoItem {

  }
  
  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }